.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
  z-index: 2;
}

.close {
  position: absolute;
  top: 30px;
  left: 30px;
  // remove button styles
  padding: 0;
  font-size: 1.6rem;
}

.content {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 400px;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100svh;
}

.title {
  align-self: center;
  margin: 2rem;
}

.item_list {
  background: var(--primary-color-transparent);
  padding: 1rem 1rem;
}

.item {
  display: flex;
  gap: 0.5rem;
  // justify-items: center;
  margin-bottom: 2rem;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  & > p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
  }
}

.quantity {
  align-self: center;
}

.subtotal {
  margin: 4rem 4rem 0 1.5rem;
  border: 1px solid;
  padding: 1rem;
  background-color: #fff;
  font-size: 1.4rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button_section {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
