.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
  z-index: 2;
}

.close {
  position: absolute;
  top: 17px;
  left: 15px;
  // remove button styles
  padding: 0;
  font-size: 1.6rem;
}

.content {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 300px;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100svh;
}

.title {
  align-self: center;
}

.item_list {
  background: var(--primary-color-transparent);
  padding: 0 20px;
}

.button_section {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}