.root {
  position: relative;
  padding: 0 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // allows z-index -1 to work on child element
  isolation: isolate;
}
