.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
  z-index: 1;
}

.content {
  position: relative;
  min-width: 300px;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  // remove button styles
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 1.4rem;
  color: inherit;
}

.resetTriggerButton {
  appearance: inherit;
  // writing-mode: horizontal-tb !important;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  font-family: inherit;
  text-rendering: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  display: inherit;
  text-align: inherit;
  align-items: inherit;
  // cursor: default;
  box-sizing: inherit;
  background-color: inherit;
  margin: inherit;
  padding: inherit;
  border-width: inherit;
  border-style: inherit;
  border-color: inherit;
  border-image: inherit;
}
