.root {
  position: relative;
  height: 250px;
  min-height: 250px;
  width: 250px;
  min-width: 250px;
}

.root img {
  border-radius: 50%;
  object-fit: cover;
}

.arrow_left {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10%;
  height: 100%;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 900;
}

.arrow_right {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10%;
  height: 100%;
  width: 40%;
  text-align: end;
  font-size: 1.5rem;
  font-weight: 900;
}

@media (max-width: 600px) {
  .root {
    height: 125px;
    min-height: 125px;
    width: 125px;
    min-width: 125px;
  }
}
