.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: var(--background-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.logo svg {
  width: 156px;
  margin-bottom: 3rem;
}
.description {
  width: 700px;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.title {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.login_title {
  margin-bottom: 0;
}
.login_subtitle {
  margin-bottom: 4rem;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  & > :nth-child(1) {
    border-top: 1px solid #000000;
    padding-top: 10px;
  }
}
.hr {
  width: 386px;
  border-bottom: 1px solid #000000;
}
.input {
  width: 386px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  align-items: center;
  padding: 5px;
  background-color: var(--background-color);
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

button.registerButton {
  margin-top: 1rem;
}

.back_login {
  margin-top: 30px;
}
