.root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 70px;
  margin: 100px 0;
  line-height: 1.1rem;
}

.support,
.links {
  display: flex;
  flex-direction: column;
}

.discover,
.links {
  display: flex;
  flex-direction: column;
}

.info,
.links {
  display: flex;
  flex-direction: column;
}

.info {
  margin: -3px;
}

.category_name {
  padding-bottom: 40px;
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.social svg {
  margin: 10px;
}

.copyright {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 30px 0;
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .root {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: none;
    line-height: none;
  }

  .support,
  .discover,
  .info {
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
    width: 500px;
    height: auto;
    padding: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .discover {
    border: none;
    height: auto;
  }

  .arrow {
    display: inline-block;
    margin-left: 50px;
  }

  .category_name {
    padding: 20px 0;
    margin: 0 auto;
    cursor: pointer;
  }

  .links {
    display: none;
  }

  .visible {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    gap: 10px;
  }
}
