.root {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 70px;
  margin-top: auto;
  line-height: 1.1rem;
}

.support {
  display: flex;
  flex-direction: column;
}

.discover {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
}

.category_name {
  padding-bottom: 40px;
}
