.story_content {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  gap: 3rem;
  margin: 4rem 0;
  .story_text_container {
    display: flex;
    flex-direction: column;
    .story_title,
    .skincare_title {
      font-size: 2rem;
      font-weight: 400;
      margin: 2rem 0 0 0;
    }
  }
}

.story_content {
  flex-direction: column;
  margin-top: -3rem;
}

.story_text_container,
.story_text {
  font-size: 1.75rem;
}

.skincare_title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 100px;
}

.about_button_container,
.signature_image_container {
  margin-top: 20px;
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .story_content {
    align-items: center;
    .story_text_container {
      text-align: center;
      .story_text {
        width: unset;
      }
    }
  }
  .signature_image_container {
    width: 100%;
    .signature_image {
      width: 35%;
      height: auto;
    }
  }

  .skincare_title {
    margin-bottom: 20px;
  }
  .about_button_container {
    width: unset;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1250px) {
  .story_content {
    max-width: 100%;
    .story_text_container {
      .story_text {
        width: unset;
      }
    }
  }
}
