.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;  
  width: 90%;
  max-width: 450px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
  & > :nth-child(1) {
    border-top: 1px solid #000000;
    padding-top: 10px;
  }
  & > :nth-child(4) > input {
    height: 60px;
  }
}

.input {
  align-items: center;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.input::placeholder {
  position: absolute;
  font-size: 1rem;
}

.socials {
  gap: 10px;
}

.socialsContainer {
  display: flex;
  gap: 2rem;
}

.text {
  line-height: 1.5;
  text-align: center;
  width: 90%;
}

.buttonSend{
  align-self: center;
  margin-top: 4rem;
}