.container {
  width: 100%;
  background-color: #fffcfc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  width: 1440px;
  height: 1024px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.image {
  width: 160px;
  height: 160px;
  background-color: #fde0dd;
  border-radius: 50%;
  
}
.description {
  width: 700px;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #4b4b4b;
}
.title {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0em;
  color: #4b4b4b;
  text-transform: uppercase;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: #fffcfc;
}

.input {
  width: 386px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  align-items: center;
  padding: 5px;
  background-color: #fffcfc;
}

.button {
  height: 40px;
  width: 262px;
  border-radius: 33px;
  background-color: #fde0dd;
  color: #4B4B4B;
  border: 1px solid #8f8e8e;
  font-size: 18px;
  margin-top: 50px;
  
}
