@font-face {
  font-family: "Josefin Sans";
  src: url("../public/fonts/JosefinSans.woff2") format("woff2");
  font-display: swap;
}

:root {
  --primary-color: #fde0dd;
  --main-font: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
