@font-face {
  font-family: 'Josefin Sans';
  src: url('../public/fonts/JosefinSans.woff2') format('woff2');
  font-display: swap;
}

:root {
  --primary-color: #fde0dd;
  --primary-transparent-color: rgba(253, 224, 221, 0.2);
  --background-color: #fffcfc;
  --font-color: #4b4b4b;
  --main-font: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--font-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
[type='button'],
[type='submit'],
input::file-selector-button {
  cursor: pointer;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
