//Header styles
.header,
.product_header,
.customers_header {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--font-color);
  text-align: center;
}

.header {
  margin-bottom: 75px;
}

.product_header {
  text-align: none;
}

.customers_header {
  margin-top: 50px;
  margin-bottom: 75px;
}
// OUR INGREDIENTS SECTION

.container {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  margin-bottom: 75px;
  width: 1350px;
}

.fruits_image {
  width: 650px;
  height: auto;
  border-radius: 20px;
  opacity: 0.9;
}

.ingredients_text_container {
  background-color: var(--primary-color);
  text-align: center;
  margin: 0 auto;
  width: 650px;
  padding: 50px;
  height: auto;
  border-radius: 20px;
}

.ingredients_text {
  width: 70%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1.2;
  margin: 75px auto;
  letter-spacing: 3px;
}

button.ingredients_button {
  margin: 0 auto;
  width: 300px;
}

// INCREDIBLE PRODUCTS SECTION

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.products_container {
  display: flex;
  width: 100vw;
  max-width: 1350px;
  margin: 0 auto;
  gap: 70px;
  justify-content: space-around;
}

.product_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.product_paragraph {
  width: 100%;
  font-size: 20px;
  font-family: var(--main-font);
}

// BUTTON STYLES

.button_container,
.signature_image_container,
.signature_button_container {
  margin-top: 20px;
  width: 95%;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 75px;
}

.signature_image_container,
.signature_button_container {
  width: 80%;
  max-width: 1200px;
}

// CUSTOMER REVIEW SECTION

.customers_container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
  width: 80vw;
  gap: 30px;
  max-width: 1200px;
}

.review_container {
  width: 598px;
  height: 364px;
  border-radius: 20px;
  background-color: var(--primary-color);
  font-size: 1.75rem;
  padding: 20px;
  margin-bottom: 50px;
}

.info_container {
  display: flex;
  font-size: 2rem;
  gap: 40px;
}

.customer_name {
  padding: 0;
}

.customer_rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -30px;
}

.review_button {
  width: 76vw;
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
  .fruits_image {
    margin: 0 auto;
    width: 598px;
    height: auto;
    border-radius: 20px;
  }

  .container {
    display: flex;
    width: unset;
    background-color: transparent;
    flex-direction: column;
    gap: 30px;
    margin-bottom: none;
  }

  .ingredients_text_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 598px;
    height: auto;
    border-radius: 20px;
    background-color: var(--primary-color);
    font-size: 1.75rem;
    padding: 25px;
  }

  .ingredients_text {
    margin: 20px auto;
  }

  .ingredients_button {
    margin: 0 auto;
  }
  .products_container {
    width: unset;
  }
  .product_paragraph {
    display: none;
  }

  .button_container {
    width: unset;
  }

  .customers_container {
    width: unset;
    flex-direction: column;
  }

  .review_button {
    width: 600px;
  }

  .mobile_element_reorder {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .signature_image {
    width: 35%;
    height: auto;
  }
}
