// OUR INGREDIENTS SECTION

.ingredients_container {
  display: flex;
  width: 100vw;
  // height: 90vh;
  background-color: var(--primary-color);
}

.ingredients_text_container {
  text-align: center;
  margin: 0 auto;
  opacity: none;
  width: 40%;
}

.ingredients_header {
  margin: 100px 0;
  font-size: 2.5rem;
}

.ingredients_text {
  font-size: 1.75rem;
  letter-spacing: 1.2;
  margin: 0 auto;
  padding: 0 30px;
}

// INCREDIBLE PRODUCTS SECTION

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.products_container {
  display: flex;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  justify-content: space-evenly;
}

.product_container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.products_header {
  text-align: center;
  margin: 100px 0;
  font-size: 2.5rem;
}
.product_header {
  font-size: 2rem;
}

.product_paragraph {
  width: 100%;
  font-size: 20px;
  font-family: var(--main-font);
}

// BUTTON STYLES

.button_container {
  display: flex;
  justify-content: flex-end;
  margin: 100px 150px 100px 0px;
  width: 100vw;
  max-width: 1200px;
  gap: 30px;
}

// CUSTOMER REVIEW SECTION

.customers_header {
  text-align: center;
  font-size: 2.5rem;
}

.customers_container {
  display: flex;
  margin: 50px 0;
  justify-content: space-around;
  width: 80vw;
  gap: 30px;
  max-width: 1200px;
}

.review_container {
  width: 598px;
  height: 364px;
  border-radius: 20px;
  background-color: var(--primary-color);
  font-size: 1.75rem;
  padding: 20px;
}

.info_container {
  display: flex;
  font-size: 2rem;
  gap: 40px;
}

.customer_name {
  padding: 0;
}

.customer_rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -30px;
}

.review_button {
  width: 76vw;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  max-width: 1200px;
}
